*.[bat]
*.[bak]
*.[cfg]
*.[dbf]
*.[fxp]
*.[fpt]
*.[json]
*.[txt]
*.[WSSA]
*.[exe]
*.[scc]
*.[cdx]
*.[err]

*.[sca]
*.[vca]

*.[pjx]
*.[pjt]
*.[pjm]

FOXUSER.*
borrar.prg

!WorkingFolder.Cfg
!Urls.DBF
!pyme.dbf