*.[bB][aA][tT]
*.[bB][aA][Kk]
*.[cC][Ff][Gg]
*.[dD][bB][Ff]
*.[fF][xX][pP]
*.[fF][pP][Tt]
*.[jJ][sS][Oo][Nn]
*.[tT][xX][tT]
*.[Ww][Ss][aA][aA]
*.[eE][xX][eE]
*.[sS][cC][Cc]
*.[cC][dD][xX]
*.[eE][rR][rR]

*.[sS][Cc][aA]
*.[vV][Cc][Aa]

*.[pP][Jj][xX]
*.[pP][jJ][Tt]
*.[pP][jJ][mM]

FOXUSER.*
borrar.prg

!Urls.[Dd][bB][fF]
!"Git Comandos.txt"
